.header {
  width: 200px;
  height: 100px;
  padding: 0;
  border: transparent;
  position: relative;
  transform: rotate(-45deg);
}
.header::before,
.header::after {
  content: "";
  display: block;
  width: 0;
  height: 50px;
  position: absolute;
  border: 1px solid red;
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}
.header::after {
  top: auto;
  bottom: 0;
}
